
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    font-size: 15pt;
    
}
img{
    display: block;
    width: 150px;
    margin: auto;
}
input{
    padding-top: 10px;
    font-family: "Do Hyeon";
    font-size: 30pt;
    padding-bottom: 0;
    
}
.card-text{
    font-size:1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*#btn{
   width: 40px;
}
.card-header{
    display: none;
}*/
#spin{
    text-align: center;
    display: block;
    width: 300px;
    margin:0 auto;
    font-size: 9rem;
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    from{transform:rotate(0deg);}
    to{transform: rotate(360deg);}
}
#sp{
    padding: 40px 0;
    width: 100%;
    margin: auto;
   
}
.card-title{
    font-family: "Ubuntu";
}
#tit{
    letter-spacing: 2px;
    color:#050E70;
    font-family: "Ubuntu";
    
}
.navbar-brand{
    font-family: Bangers;
}
footer {
    margin-top:0;
    background: #272833;
    color:#8D8D91;
    font-weight: 300;
    font-size: 20px;
    }
nav div ul li:hover {
        background: #8C8C8C;
        color: #000000;
    }
